.bgimage {
  background-image: url(../../src/images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 3px solid #5ead8d;
}

@media only screen and (min-width: 1920px) {
  .bgimage {
    background-image: url(../../src/images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: none;
    background-size: cover;
  }
}

@media only screen and (max-width: 640px) {
  .bgimage {
    background-image: url(../../src/images/smallbg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
    border-bottom: none;
    margin-left: 0px;
    margin-right: 0px;
    width: 150%;
  }
}

.mainHeight {
  height: 800px;
}

.minWidth {
  min-width: 390px;
}

.buttonColor {
  background-color: #5ead8d;
}

@media only screen and (max-width: 430px) {
  .smallScreens {
    /* background-color: greenyellow !important; */
    width: 431px !important;
    height: 271px !important;
    margin-top: 50px !important;
  }
}

/* Position and sizing of burger button */
.bm-burger-button {
  border-radius: 25px 25px 25px 25px;
  position: fixed;
  width: 6px;
  height: 30px;
  right: 36px;
  top: 15px;
}

span {
  border-radius: 0.5rem;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #57575a;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 28px;
  width: 28px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  margin-top: 40px;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #57575a;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
