@import "../css/typography.css";

body {
  font-family: "Graphik" !important;
  height: 100vh;
  max-width: 100%;
  overflow-x: hidden;
}


.flexImp {
  display: flex !important;
}

/* background image */

.bgimage {
  background-image: url(../../src/images/background.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 75vh;
  margin-left: 50px;
  margin-right: 50px;
  border-bottom: 3px solid #5ead8d;
}

@media only screen and (min-width: 1920px) {
  .bgimage {
    background-image: url(../../src/images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: none;
    background-size: cover;
  }
}

@media only screen and (max-width: 640px) {
  .bgimage {
    background-image: url(../../src/images/smallbg.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    border-bottom: none;
    margin-left: 0px;
    margin-right: 0px;
  }
}

@media only screen and (min-height: 1000px) {
  .bgimage {
    background-image: url(../../src/images/background.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    margin-left: 50px;
    margin-right: 50px;
    border-bottom: none;
    background-size: cover;
  }
}

@media screen and (orientation: landscape) and (min-device-width: 550px) and (max-device-width: 900px) {
  .landscapeMain {
    font-size: 25px !important;
    margin-top: -75px !important;
  }
}

.bgGray {
  background-color: #c2bebf;
}

.mainHeight {
  height: 800px;
}


.buttonColor {
  background-color: #5ead8d;
}

@media only screen and (max-width: 640px) {
  .smallScreens {
    /* background-color: greenyellow !important; */
    height: 0px !important;
  }
}

@media only screen and (max-width: 340px) {
  .extraSmall {
    font-size: 10px;
    /* display: flex;
    flex-direction: column; */
  }
}


/* buger menu */
.bm-burger-button {
  border-radius: 25px 25px 25px 25px;
  position: fixed;
  width: 6px;
  height: 30px;
  right: 36px;
  top: 20px;
  margin-top: 6px;
  margin-right: 20px;
}

span {
  border-radius: 0.5rem;
}

.bm-burger-bars {
  background: #1b1b1b;
}


.bm-cross-button {
  height: 48px;
  width: 48px;
  margin-right: 5px;
  margin-top: 5px;
}


.bm-cross {
  background: black;
}


.bm-menu-wrap {
  position: fixed;
  height: 100%;
}


.bm-menu {
  background: white;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}


.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  margin-top: 40px;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #57575a;
}


.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@tailwind base;
@tailwind components;
@tailwind utilities;
